<mat-toolbar color="primary" class="mat-elevation-z6">
	<span routerLink="" class="home-link">Desocial</span>
	<span class="example-spacer"></span>
	<div *ngIf="isLoggedIn">
		<span>{{ user.firstname }} {{ user.lastname }}</span>
		<button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
			<mat-icon>person</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button [routerLink]="['profile',user._id]" mat-menu-item>Profile</button>
			<button routerLink="settings" mat-menu-item>Settings</button>
			<button mat-menu-item (click)="logoutClick()">Logout</button>
		</mat-menu>
	</div>
</mat-toolbar>