 <div class="center-me">
	<div *ngFor="let post of posts">
    <div class="post">
    <img src={{post.photoUrl}} alt={{post.title}} width="300">
    <div style="display: flex" >
      <h2 style="margin-top: 12px;">{{post.title}}</h2>
      <mat-divider [vertical]="true" style="padding-right: 5px; padding-left: 5px;"></mat-divider>
      <h2 style="color: #F44336; margin-top: 12px; padding-left:5px">{{post.likes.length}}</h2>
      <span class="material-icons" style="color: #F44336; margin-top: 16px; padding-left: 5px">favorite</span>
      <mat-divider [vertical]="true" style="padding-right: 5px; padding-left: 5px;"></mat-divider>
      <button (click)='delete(post)' mat-fab color="disabled" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true" style="margin-top: 12px; margin-bottom: 12px;" ></mat-divider>
  </div>
</div>
</div>
