.container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.profile-card-content {
	display: flex;
	flex-direction: row;
	max-height: 500px;
	padding: 0;
}

.profile-details {
	margin-left: 16px;
}

.post-grid {
	margin-top: 16px;
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 8px;
}

.post-card-content {
	max-width: fit-content;
}

.post-card-content > img {
	border-radius: 4px;
}
