<div class="container">
	<div class="profile-container">
		<mat-card [ngStyle]="{'min-width': 'fit-content'}">
			<mat-card-content ngClass="profile-card-content">
				<img mat-card-xl-image src="{{ user.picture }}" style="border-radius: 4px">
				<div class="profile-details">
					<h2>{{user.firstname}} {{user.lastname}}</h2>
					<h3>No. of Posts: {{posts.length}}</h3>
				</div>
			</mat-card-content>
		</mat-card>
		<h1 class="mat-display-3 title">Posts</h1>
		<div class="post-grid" *ngIf="loaded">
			<mat-card *ngFor="let post of posts">
				<mat-card-content ngClass="post-card-content">
					<img mat-card-image src={{post.photoUrl}} alt={{post.title}}>
					<div style="display: flex; justify-content: space-between">
						<h3 style="margin-top: 12px;">{{post.title}}</h3>
						<button mat-icon-button color="warn" type="button" (click)="handleLike(post._id)">
							<mat-icon>{{isPostLiked(post) ? 'favorite' : 'favorite_border'}}</mat-icon>
						</button>
						<span>{{post.likes.length}}</span>
						<div *ngIf="show">
							<button (click)='delete(post)' mat-icon-button color="disabled" aria-label="Delete">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>