<form [formGroup]="postForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Title" formControlName="title">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
          </ngx-mat-file-input>
       </mat-form-field>
      </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-raised-button [disabled]="postForm.invalid" mat-button>Upload</button>
  </div>
</form>

