<mat-card-title>Login</mat-card-title>
<form [formGroup]="form" (ngSubmit)="submit()">
	<p>
		<mat-form-field>
			<input type="text" matInput placeholder="Email" formControlName="username">
			<mat-error *ngIf="form.controls.username.invalid">Email is required</mat-error>
		</mat-form-field>
	</p>
	<p>
		<mat-form-field>
			<input type="password" matInput placeholder="Password" formControlName="password">
			<mat-error *ngIf="form.controls.password.invalid">Password is required</mat-error>
		</mat-form-field>
	</p>
	<p *ngIf="error" class="error">
		{{ error }}
	</p>
	<div class="button">
		<a routerLink="register" mat-stroked-button color="warn">Sign-up</a>
		<button type="submit" mat-raised-button [disabled]="form.invalid" color="primary">Login</button>
	</div>
</form>
