.mat-form-field {
	width: 100%;
	min-width: 300px;
}

mat-card-content {
	display: flex;
	justify-content: center;
}

.error {
	padding: 16px;
	color: white;
	background-color: red;
}

.button {
	display: flex;
	justify-content: space-between;
}

.center-me {
	display: flex;
	height: 100%;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: white
}