<div class="center-me">
	<mat-card>
		<mat-card-title>
			<h1 class="mat-display-1">Settings</h1>
		</mat-card-title>
		<mat-card-content>
			<form [formGroup]="form" (ngSubmit)="update()">
        <p>
          <mat-form-field>
            <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
            </ngx-mat-file-input>
         </mat-form-field>
        </p>
				<p>
					<mat-form-field>
						<input type="text" matInput placeholder="First Name" formControlName="firstname"
							[(ngModel)]="user.firstname">
						<!--<mat-error *ngIf="form.controls.firstname.invalid">First Name is required</mat-error>-->
					</mat-form-field>
				</p>
				<p>
					<mat-form-field>
						<input type="text" matInput placeholder="Last Name" formControlName="lastname"
							[(ngModel)]="user.lastname">
						<!--<mat-error *ngIf="form.controls.lastname.invalid">Last Name is required</mat-error>-->
					</mat-form-field>
				</p>
				<p>
					<mat-form-field>
						<input type="text" matInput placeholder="New Email" formControlName="email">
						<!--<mat-error *ngIf="form.controls.email.invalid">Email is required</mat-error>-->
					</mat-form-field>
				</p>
				<p>
					<mat-form-field>
						<input type="password" matInput placeholder="New Password" formControlName="password">
						<!--<mat-error *ngIf="form.controls.password.invalid">Password is required</mat-error>-->
					</mat-form-field>
				</p>
				<div class="button">
					<button type="button" (click)="delete()" mat-raised-button color="warn">DELETE ACCOUNT</button>
					<button type="submit" mat-raised-button color="primary" [disabled]="form.invalid && fileControl.invalid">Update</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
